/* :a.href: is the tag name of my tag that holds the shadow DOM */
\:a\.href\: {
    all: initial !important;
    position: absolute !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;

    display: inline-block !important;

    margin: 0 !important;
    box-shadow: none !important;
    border: 0 !important;
    padding: 0 !important;
    width: 0 !important;
    height: 0 !important;
    transform: none !important;
    clear: none !important;
    float: none !important;

    opacity: 0.9 !important;
    z-index: 2147483645 !important;
    transition: z-index 1ms !important;

    /* allow some stylistic properties to inherit */
    font-size: inherit !important;
    font-weight: inherit !important;
}
:hover > \:a\.href\: {
    opacity: 1 !important;
    z-index: 2147483646 !important;
    transition: z-index 2ms !important;
}
\:a\.href\::hover {
    opacity: 1 !important;
    z-index: 2147483647 !important;
    transition: z-index 3ms !important;
}

[a-href\:hover] {
    outline: 1px dashed rgba(229, 151, 0, 0.9) !important;
}

\:a\.href\: .display-anchors-style-reset {
    all: unset !important;
    font-size: inherit !important;
    font-weight: inherit !important;
}
/**
 * Styles designed for Firefox, because they do not support shadow DOM yet,
 * and neither the "revert" CSS keyword, so we need to clone the default UA
 * styles.
 *
 * Sources:
 * https://dxr.mozilla.org/mozilla-central/rev/1d025ac534a6333a8170a59a95a8a3673d4028ee/layout/style/nsLayoutStylesheetCache.cpp#899
 * https://dxr.mozilla.org/mozilla-central/rev/1d025ac534a6333a8170a59a95a8a3673d4028ee/layout/base/nsPresContext.cpp#227
 */
/* colors based on layout/base/nsPresContext.cpp */
\:a\.href\: a.display-anchors-style-reset:link {
    color: #00E !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}
\:a\.href\: a.display-anchors-style-reset:active {
    color: #E00 !important;
}
\:a\.href\: a.display-anchors-style-reset:visited {
    color: #551a88 !important;
}
