/* :a.href: is the tag name of my tag that holds the shadow DOM */
\:a\.href\: {
    position: absolute !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;

    display: block !important;

    margin: 0 !important;
    box-shadow: none !important;
    border: 0 !important;
    padding: 0 !important;
    width: 0 !important;
    height: 0 !important;
    -webkit-transform: none !important;
    transform: none !important;
    clear: none !important;
    float: none !important;

    opacity: 0.7 !important;
    z-index: 2147483645 !important;
    transition: z-index 1ms !important;
}
:hover > \:a\.href\: {
    opacity: 1 !important;
    z-index: 2147483646 !important;
    transition: z-index 2ms !important;
}
\:a\.href\::hover {
    opacity: 1 !important;
    z-index: 2147483647 !important;
    transition: z-index 3ms !important;
}

[a-href\:hover] {
    outline: 1px dashed rgba(229, 151, 0, 0.9) !important;
}
